<div class="backdrop"></div>
<div class="header_title">
    <h1>Avengers List</h1>
    <p>Prove 11</p>
</div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header-nav">
        <ul class="main-header-item-list">
            <li class="main-header-item"><a href="/">CSE341-Home</a></li>
            <li class="main-header-item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="../../../../proveAssignments/11/">Avengers List</a>
            </li>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
        <ul class="mobile-nav__item-list">
                <li class="mobile-nav__item">
                    <a class="<%= path === '/' ? 'active' : '' %>" href="../../../../proveAssignments/11/">Avengers List</a>
                </li>
            </ul>
</nav>