* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: verdana;
}
main {
  padding: 1rem;
  margin:auto;
}

form {
  display: inline;
}

.centered {
  text-align: center;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #64b7c2;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}
.main-header-nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
}
.main-header-item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.main-header-item {
  margin: 0 1rem;
  padding: 0;
}
.main-header-item a,
.main-header-item button {
  font: inherit;
  background: transparent;
  border: none;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.main-header-item a:hover,
.main-header-item a:active,
.main-header-item a.active,
.main-header-item button:hover,
.main-header-item button:active {
  color: #0b3d44;
}
.jumbotron {
  background: #0065BD;
  color: white;
  padding-bottom: 80px; 
}

.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7; 
}

.jumbotron .btn-primary:hover {
  background: #7646c1; 
}
  
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em; 
}
  
.navbar + .jumbotron {
  margin-top: -20px; 
}
  
.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white; 
}
.jumbotron .lang-logo img {
  max-width: 100%; 
}

.logo {
  width: 5rem;
  height: 5rem;
}

.header_title {
  font-size: 1.5rem;
  text-align: center;
  color: #2c7783;
}

