<header class="main-header">
    <nav class="main-header-nav">
        <ul class="main-header-item-list">
            <li class="main-header-item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">CSE341-Home</a></li>
            <li class="main-header-item"><a class="<%= path === '/proveAssignments/02' ? 'active' : '' %>" href="/proveAssignments/02">Add Book Info</a></li>
            <li class="main-header-item"><a class="<%= path === '/books' ? 'active' : '' %>" href="/proveAssignments/02/books">Book List</a></li>
        </ul>   
    </nav>
</header>